body{
    background-image: url('../images/main_bg.jpg');
}
header{
    background-image: url('../images/header_bg.png');
    height: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-size: cover;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.page_headings{
    font-size: 20px;
    font-family: sans-serif;
    color: darkgreen;
    font-weight: 500;
}
.logo{
    float: left;
    width: 300px;
    height: 90px;
    padding-top: 20px;
    background-image: linear-gradient(to right, transparent, white, transparent);
}
.company_logo{
    height: 70px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
.row{
    float: right;
    height: 110px;
    width: 700px;
    list-style: none;

}
.row li{
    display: inline-block;
    text-decoration: none;
    margin: 52px 36px;
    font-family: sans-serif;
    font-size: 16px;
}
.slider_view{
    height: 420px;
    background-image: url('../images/banner_slider_01.jpg');
    background-size: cover;
    position: relative;

}
.slider_view1{
    height: 420px;
    background-image: url('../images/banner_slider_02.jpg');
    background-size: cover;
    position: relative;

}
.border_no_top{
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: lightgrey;
}
.border{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}
.meta_title{
    position:absolute;
    margin-left: 72%;
    margin-top:11%;
    font-size: 25px;
    font-family: sans-serif;
    color: darkgreen;
}
.meta_content{
    color: grey ;
    font-size: 20px;
    font-family: sans-serif;
    position:absolute;
    margin-left: 72%;
    margin-top:16%;
}
.button1{
    background-color: white;
    color: darkgreen;
    position:absolute;
    margin-left: 71%;
    margin-top:31%;
    height: 34px;
    width: 196px;
    border-color: lightskyblue;
    font-family: sans-serif;
    text-align: left;
    padding: 5px 0px 0px 15px;
    font-size: 15px;
    font-weight: bold;
}
.view2{
    height: 430px;
    background-color: white;
    border-color: lightgray;
    position: relative;
    margin: 20px 0px;
}
/* second block */
.block_2_main_heading{
    margin: 30px 0px 10px 22px;
}
.block_2_main_div{
    margin: 0px 24px 0px 24px;
    border-width: 0.5px;
    border-color: darkgreen;
    padding: 20px 0px 0px 20px;
}
.row a {
    text-decoration: none;
    text-emphasis-color: red;
    text-decoration-color: black;
  }
.block2 {
    padding-top: 10px;
    padding-top: 10px
}
.block2_title{
    font-size: 20px;
    font-family: sans-serif;
    color: darkgreen;
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
.column_3_layout {
    float: left;
    width: 32%;
  }
.column_2_layout {
float: left;
width: 45%;
}
.padding{
    padding: 20px 0px 0px 25px
}
.padding-top{
    padding: 20px 0px 0px 0px
} 
.block3_col1
{
    width: 60%;
    float: left;
}
.block3_col2
{
    width: 30%;
    float: right;
}
.outset {
    border-bottom: 2px solid darkgreen;
}
.padding-top-10{
    padding: 10px 0px 0px 0px
}
.block4_col1
{
    width: 40%;
    float: left;
}
.block4_col2
{
    width: 40%;
    float: right;
}
.padding-top-30{
    padding: 30px 0px 0px 0px
}
.border-block{
    border: 1px solid gray;
}
.margin-block{
    margin-top: 10px;
}
.margin-top{
    margin-top: 20px;
}
.margin-left{
    margin-left: 20px;
}
.border-height{
    border-left: 1px solid gray;
    padding-left: 10px;
}
.border-height-2{
    border-left: 1px solid gray;
    padding-left: 15px;
}
.gradient{
    background-image: linear-gradient(white, #F4F4F4);
}
.block2_title-2{
    font-size: 17px;
    font-family: sans-serif;
    color: darkgreen;
}
.bold{
    color: black;
    font-size: 13px;
}
.margin-bottom{
    margin-bottom: 5px;
}
.button2{
    background-color: white;
    color: darkgreen;
    height: 34px;
    width: 196px;
    border-color: lightskyblue;
    font-family: sans-serif;
    text-align: left;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
    font-weight: bold;
}
.block2_title-3{
    font-size: 20px;
    font-family: sans-serif;
    color:gray;
}
.padding-bottom{
    padding-bottom: 10px;
}
.date{
    font-size: 15px;
    font-weight: bold;
}
.border2{
    border-bottom: 1px solid gray;
}
.padding-bottom{
    padding-bottom: 15px;
}
.padding-bottom2{
    padding-bottom: 10px;
}
.end{
	min-height: 30px;
	background-color: #8D8886;
	margin-top: 29px;
}
.company2011{
	color :white;
	float: right;
	padding: 19px 0px 62px 0px;
}
.bottom{
    display:inline-block;
    float: left;
    color: white;
    text-align: left;
    padding: 19px 5px 62px 0px;
    text-decoration: none;
  }